html {
  font-size: 18px;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: $base-background-color;
  color: $base-text-color;
  -webkit-font-smoothing: antialiased;

  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
