fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing;
}

#{$all-text-inputs},
select[multiple] {
  background-color: $base-background-color;
  border: 1px solid lighten($base-text-color, 60%);
  border-radius: 0.2em;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  padding: $small-spacing / 2;
  transition: border-color ease 100ms;
  width: 100%;
  overflow: hidden;

  &:hover {
    border-color: shade($base-text-color, 20%);
  }

  &:focus {
    border-color: $base-blue;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    border: 1px solid lighten($base-text-color, 60%);
    cursor: not-allowed;
  }
}

textarea {
  resize: vertical;
}

[type="search"] {
  appearance: none;
}

input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for="file"] {
  @extend %button;
}
