//colours
$base-red:              #FC575E;
$base-blue:             #44BBFF;
$base-green:            #66CC99;

$base-background-color: #F8F8F8;
$base-text-color:       #292929;
$base-link-color:       $base-blue;
$base-button-color:     $base-blue;

//spacing
$small-spacing:         20px;
$medium-spacing:        40px;
$large-spacing:         60px;
