<div class="main--login">
  <div class="main--login-about">
    <h1 class="about--title">angularJS Twitter Clone</h1>
    <p class="about--blurb">Built with Angular and Firebase.</p>
    <p class="about--author">by <a href="http://derekmorash.com/">Derek Morash</a>, for educational purposes only.</p>
  </div>

  <div class="main--login-login">
    <h3>Login</h3>
    <p ng-show="message">{{ message}}</p>
    <form name="myForm" class="login--form" ng-submit="login()" novalidate>

      <fieldset>
        <input class="login--email-input" type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
        <p class="error validationerror" ng-show="myForm.email.$invalid && myForm.email.$touched">Must be a valid email.</p>

        <input class="login--password-text" type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
        <p class="error validationerror" ng-show="myForm.password.$invalid && myForm.password.$touched">Password is required.</p>
      </fieldset>

      <button type="submit" class="login--submit" ng-disabled="myForm.$invalid">Login</button>
      <span>or</span>
      <a class="login--register" ng-href="#/register">Register</a>
    </form>
  </div>
</div>
