header {
  @include outer-container(100%);
  border-bottom: 1px solid lighten($base-text-color, 60%);

  nav {
    @include outer-container(100%);
    padding: 1rem;

    .header--branding, .header--user {
      margin: 1rem 0;
      padding: 0;
      display: block;
      float: left;
    } //.header--branding, .header--user

    .header--branding {
      a {
        font-size: 1.6rem;
        cursor: pointer;
      }
    } //.header--branding

    .header--user {
      float: right;
      list-style-type: none;

      .header--user-list {
        float: right;
        margin-left: 1rem;

        //give the user login and register basic button styles
        .header--user-login, .header--user-register {
          @extend %button;
        } //.user--login, .user--register

        .header--user-register {
          background-color: $base-green;

          &:hover,
          &:focus {
            background-color: shade($base-green, 20%);
          }
        }

        .header--user-login {
          background-color: $base-red;

          &:hover,
          &:focus {
            background-color: shade($base-red, 20%);
          } //hover, focus
        } //.user--login
      } //.header--user-list
    } //.header--user
  } //nav
} //header
