.main .feed {
  .feed--tweet-add {
    @extend .card;
    max-width: $break-small;
    margin-bottom: 40px;
  } //tweet--add

  .feed--tweet-sections {
    @extend .card;
    max-width: $break-small;
    margin-top: $small-spacing;
    background-color: #fff;
    padding: 0;

    h3 {
      padding: $medium-spacing $medium-spacing 0;

      @media screen and (max-width: $break-medium) {
        padding: $small-spacing;
      }
      @media screen and (max-width: $break-small) {
        padding: $tiny-spacing;
      }
    }
    .feed--tweet {
      padding: $medium-spacing;

      @media screen and (max-width: $break-medium) {
        padding: $small-spacing;
      }
      @media screen and (max-width: $break-small) {
        padding: $tiny-spacing;
      }

      .feed--tweet-user {
        font-size: 1.2rem;
      }
      .feed--tweet-date {
        display:block;
        font-size: 0.8rem;
        color: transparentize($base-text-color, 0.4);
        margin-bottom: $tiny-spacing;
      }

      .feed--tweet-tweet {
        border-left: 2px solid transparentize($base-dark-blue, 0.8);
        margin: 0;
        padding-left: $tiny-spacing;
        word-wrap: break-word;
      }
    }
  }
}
