.main .main--register {
  max-width: $break-small;
  margin: 0 auto;

  button.register--submit {
    background-color: $base-green;

    &:hover,
    &:focus {
      background-color: shade($base-green, 20%);
    } //:hover :focus
  }
}
