.main .main--register {
  @extend .card;

  button.register--submit {
    background-color: $base-green;

    &:hover,
    &:focus {
      background-color: shade($base-green, 20%);
    } //:hover :focus

    &:disabled {
      background-color: $base-green;

      &:hover {
        background-color: $base-green;
      }
    }
  }
}
